*{
  padding: 0;
  margin: 0 auto;
  max-width: 1400px;
  color: red;
  box-sizing: border-box;
}

p{
  font-size: 16px;
}

h1{
  font-size: 24px;
}

nav{
  display: flex;
  justify-self: center;
  justify-content: space-between;
  margin-top: 22px;
  align-items: center;
}

.logo__container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__list{
  font-weight: 700;
  padding: 0 10px;
}