@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 16px;
  color: white;
}

h1 {
  font-size: 24px;
}

nav {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  margin: 16px 0;
  align-items: center;
  color: white;
  width: 100%;
  z-index: 3 !important;
  position: relative;
}

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  /* transform: translate(100%); */
  opacity: 0;
}

.btn__menu {
  background-color: transparent;
  font-size: 32px;
  border: none;
  color: #d044da;
  display: none;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.menu__list {
  padding: 32px 0;
  font-size: 20px;
}

.menu__link {
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: #d044da;
}

.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__list {
  font-weight: 700;
  padding: 0 10px;
  text-decoration: none;
  cursor: not-allowed;
}

.login__btn {
  background-color: #d044da;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  color: black;
  margin-left: 12px;
}

.signup__btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  color: white;
  border: 2px solid #d044da;
  margin-left: 12px;
  margin-top: 0px;
}

/*  Landing */
.landing__contianer {
  position: relative;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      ellipse 90% 100% at right center,
      transparent 30%,
      #000
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.93), transparent 70%);
  z-index: 1;
}

.gojo__img {
  width: 100%;
  overflow-x: hidden;
  object-fit: cover;
}

.landing__text--wrapper {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
}

.landing__title {
  color: white;
  font-size: 60px;
  text-align: left;
}

.landing__para {
  color: white;
  font-size: 20px;
  padding: 10px 0;
  text-align: left;
  font-weight: 800;
}

.try__btn {
  background-color: #d044da;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 800;
  color: black;
  text-align: center;
  width: 200px;
  margin: 0;
  font-size: 18px;
}

.try__btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

.try__btn-link {
  padding-top: 10px;
  display: inline-block;
}

.try__btn-link:active {
  transform: translateY(1px);
}

/* Trending */
.upcoming__container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.upcoming__card {
  width: 200px;
  height: 300px;
  margin: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upcoming__card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
.upcoming__heading {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
  margin-top: 30px;
  font-size: 48px;
}
.upcoming__title {
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding-top: 8px;
  margin: 0 10px;
}

.upcoming__img {
  width: 70%;
}

/* Search */
.search__container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
}

.search__input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #d044da;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  outline: none;
  margin: 20px 0;
  text-align: left;
  position: relative;
}

.search__form {
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search__results {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.loading__img {
  width: 80%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.205);
  margin: 0;
  padding-bottom: 20px;
}

.loading__title {
  width: 70%;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.205);
  margin-top: 10px;
}

.loading__card {
  width: 200px;
  height: 300px;
  margin: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Footer */
  .foot--list {
    cursor: not-allowed;
    font-weight: 700;
  }

.footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.205);
  margin-top: 20px;
}

.footer__title {
  color: white;
  font-size: 26px;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
}

.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px 0;
}

.copyright__para {
  color: white !important;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

/* animeInfo */

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.info__container {
  display: flex;
  max-width: 1400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  flex: 1; 
}

.info__wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

.img__wrapper {
  width: 50%;
}

.details__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: left;
  padding: 0 20px;
}

.info__img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.info__aired {
  font-size: 20px;
  text-align: left;
  margin: 0;
}

.info__title {
  font-size: 32px;
  text-align: left;
  margin: 0;
  padding: 10px 0;
}

.info__para {
  font-size: 18px;
  text-align: left;
  margin: 0;
  padding: 10px 0;
}

.info__rating {
  font-size: 20px;
  text-align: left;
  margin: 0;
}

.more__info--link {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
}

.back__btn {
  background-color: #d044da;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  color: black;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.try__btn-link a {
  display: inline-block;
}

.loading__info--img {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.205);
  margin: ;
  padding-bottom: 20px;
  border-radius: 10px;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}

.loading__info--para{
  width: 70%;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.205);
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

/* Moblie */

.mob__img {
  width: 100%;
  overflow-x: hidden;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .info__container {
    height: auto;
  }
  .info__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img__wrapper {
    width: 70%;
  }
  .details__wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .info__para {
    text-align: center;
    overflow: auto;
  }
  .more__info--link {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .info__title {
    text-align: center;
    font-size: 28px;
  }
  .info__rating{
    text-align: center;
  }
  
}

@media (max-width: 768px) {
  .btn__menu {
    display: block !important;
  }

  .link__list {
    display: none ;
  }
  .info__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }
  .info__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img__wrapper {
    width: 70%;
  }
  .details__wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .info__para {
    text-align: center;
    overflow: auto;
  }
  .more__info--link {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .info__title {
    text-align: center;
    font-size: 28px;
  }
}

@media (max-width: 550px) {
  .landing__title {
    font-size: 30px;
  }
  .landing__para {
    font-size: 16px;
  }
  .upcoming__heading {
    font-size: 36px;
  }
  .try__btn {
    font-size: 14px;
  }
  .more__info--link {
    text-align: center;
    width: 90%;
  }
    .info__container {
    height: auto;
  }
 
}

@media (max-width: 480px) {
  .info__para {
    width: 90%;
    overflow: auto;
    margin: 0 auto; /* Center the text */
  }
  .loading__info--img {
    width: 280px;
    height: 380px;
  }
    .info__container {
    height: auto;
  }
}
